[2015-10-11 18:19] gino8080 opened #1 "Problem with .DELETE() method"
Hello, first of all Great work!! :+1:

I was using mysql-active-records before,
now switched to this and everything is better but NOT delete

every time I use DELETE the composed query has unnecessary parenthesis that give me SQL error something like:

[code]

so I have to use the plain .query() method :(

any help with this?

thank you very much!

[2015-10-13 20:21] kylefarris commented on #1
Hi Gino,

I've never actually seen that show up as an issue on my MySQL server, but, I don't see any reason why we would need the paranthesis--it's just how Codeigniter does it so I figured there was a good reason. You're welcome to make a pull request to fix the issue; otherwise, I'll have to get to it when I get a chance (working on some features and bug fixes on some other NPM modules at the mo

[2015-10-13 20:45] kylefarris commented on #1
Nevermind, it was easy enough to fix. Patch is in commit: 31f97b4d0893a658c32ac0cbc1beede2d4ccd2da

I've updated the module in NPM to version 0.10.0--make sure you upgrade.

Thanks for the using the module!

-Kyle

[2015-10-13 20:45] #1 closed

[2016-06-16 09:25] baaskoen opened #2 "Add installation documentation for module `underscore`"
If I'm following the installation documentation and try to configure Node Query Builder, I'm getting the following error:

Perhaps it is a good idea to add  `npm install underscore` to the documentation?

Great work though :+1:

[2016-09-03 17:45] malles opened #3 "Allow Date objects as values."
[This check](https://github.com/kylefarris/node-querybuilder/blob/master/drivers/mysql/query_builder.js#L1181) makes it impossible to pass Date objects as values.

[code]

While when bypassed, the query is executed fine, and the dates are inserted as expected.
Is this an acceptable solution?:

[code]

[2016-09-05 11:07] malles commented on #2
IT should be added to the dependancies.
The tests on travis also fail because of missing underscore

[2017-01-02 10:56] vishalw89 opened #6 "Cannot use mysql DATE_FORMAT function"
Hello,
Thank you for this wonderful library,however I am stuck in a case
 I cannot use mysql DATE_FORMAT function. it gives me error cannot read property substring of undefined.
Need help!!

Thank you

[2017-01-02 11:11] #6 closed

[2017-02-28 05:51] shajeermhmmd opened #7 "qb.select is not a function"
Hi,
I have a problem with"node-querybuilder ", ie, select is not a function, bellow giving my code,kindly request you to check and I hope you will give a solution for this issue ASAP.

var qb = require('node-querybuilder').QueryBuilder({
	  	    connectionLimit : 100,
		    host     : 'localhost',
		    user     : 'root',
		    password : '',
		    database : 'address_book',
		    debug    : false

[2017-02-28 16:06] kylefarris commented on #7
Hey @shajeermhmmd,

You've setup the QueryBuilder instance to create a pool of connections (preferred way) but you're attempting to use the library as if you set it up for a single connection. You need to get a connection from the pool first (see: https://github.com/kylefarris/node-querybuilder#get_connection)

You code should be as follows:

[code]

Also, if you're going to be selecting all field

[2017-04-24 12:10] prakashgp opened #8 "doesn't escape value passed to like()"
It directly executes statements without escaping values passed to `like` function

[2017-04-26 14:59] #7 closed

[2017-04-26 16:00] #3 closed

[2017-04-26 16:01] kylefarris commented on #3
Sorry for the late response, but, no, this wouldn't be a great way to validate a date coming in as a value since any object could have a `getFullYear` method. I could make an argument that all dates should always be passed in as strings and not Date objects (MySQL doesn't support this and will just run the default `.toString()` method on it). If you convert to a string yourself, you'll have better

[2017-04-26 16:25] kylefarris commented on #2
I was only using underscore for its `extend` method. Node has had the native es2015 `Object.assign` method for some time now so I've removed the underscore dependency and changed all instances of `_.extend` to `Object.assign`. That does mean, however, that Node version >= 4.0 is now required (was 0.10). I don't think this is too much of a stretch, though, seeing as version 7+ is out now.

Travis b

[2017-04-26 16:25] #2 closed

[2017-04-26 21:24] kylefarris commented on #8
I'll take a look.

[2017-04-26 21:33] kylefarris commented on #8
@prakashgp Could you provide a sample query where this would happen? The tests I've written seem to indicate that they fields and values will be escaped unless I'm missing something. Thanks!

[2017-04-27 10:31] agravatfemina opened #9 "Issue with ` sign .I want to escape this sign"
queryBuilder.join('tbl_user as u','CASE WHEN `m`.`iMsgTo` ='+params.iUserID+' THEN `m`.`iMsgFrom` = `u`.`user_id` WHEN `m`.`iMsgFrom` ='+params.iUserID+' THEN `m`.`iMsgTo` = `u`.`user_id` END','INNER');

This is a subpart of query. When I am executing this query query builder is adding **`CASE` `WHEN`**  .Please help me with this. i don't want to add this **`** sign with **join on** query.

Need h

[2017-04-27 21:01] kylefarris commented on #9
@agravatfemina I've fixed this for you in the latest version (v.0.15.0). `join` method had an undocumented and not-fully-working escape parameter. It used to just escape the table name but now it will not escape the conditions of the join as well.

I've updated the documentation, but, all you should need to do now is this:

[code]

Notice the final `false` parameter.

Hope that helps!

[2017-04-27 21:01] #9 closed

[2017-05-02 12:32] prakashgp opened #10 "Issues with big integers"
It converts string values like `23842563958810573` into `23842563958810572` which took half day to find out !

[2017-05-02 12:37] prakashgp commented on #8
I'm currently using this code which escapes the value:
[code]
When i was using following code, it was not escaping values (observed from console.log as well as query error). I've also tried sql injection which worked perfect :)

[code]

[2017-05-23 10:17] louisl opened #11 "Use of Object.assign"
FYI I couldn't use this in my Strongloop (express js) project without adding a shim for Object.assign in the mysql/adapters.js

The error wasn't very helpful either.

[code]
I needed to add `var assign = Object.assign || require('object.assign');` and change instances of `Object.assign` to `assign` in mysql/adapters.js.

[2017-07-11 18:10] kylefarris commented on #11
Must be running an older version of Node.js that doesn't support this feature yet. I can update the docs to reflect the minimum Node version if that helps. Any ideas? I don't really want to add the shim into the code since its been supported since at least Node v4.0.0 (we're currently on v8.x).

[2017-07-11 18:11] kylefarris commented on #10
Hmm... I'm not sure if this is an issue with the mysql driver or if it's with the querybuilder. Any ideas?

[2017-07-11 18:15] louisl commented on #11
Ooh it was a while back now and I've updated all sort of things since then, not sure if it's still a problem. I'll take a look next time I'm on that job, meanwhile I'll close this and the reference is here if anyone else needs it.

Thanks

[2017-07-11 18:15] #11 closed

[2017-07-11 18:19] prakashgp commented on #10
I think it is a problem with JavaScript that it can't handle such big
numbers.(such as Facebook campaign ids)

I can avoid this by converting number to string before passing to query
builder.

But still,  the problem with querybuilder is it detects the numerical
string and converts it into number (my guess)
This happens when a number is passed to functions like `where() `
but it works when numeric

[2017-07-11 18:52] kylefarris commented on #11
Thanks for your response @louisl.

[2017-07-11 18:57] kylefarris commented on #10
Ah, interesting. Thanks for the feedback--I'll take a look at what I'm doing and see if there are some bad assumptions, and, hence, conversions being made.

[2017-08-22 11:31] afzydev opened #13 "throw new Error("No database driver specified!");"
Hi
Thanks for the awesome repo.

Please check my code below and tell me what is the problem going on.

[code]
This is the way i am importing below:
[code]
This is the error which i am getting:

[2017-08-22 18:02] kylefarris commented on #13
@afzydev Try this...

[code]

'mysql' should be the default for the second parameter, but, it doesn't hurt to provide it. I'll see what's going on in the code that might be preventing this from working, but, this should get you going in the meantime.

Kyle

[2017-08-22 18:15] kylefarris commented on #13
I see the bug. I'm going to fix it in a patch I'm about to release. Sorry for the trouble.

[2017-08-22 18:22] kylefarris commented on #13
The bug has been fixed and a patch has been released. Please update to version 1.0.2 if you don't want to provide the second and third parameters.

[2017-08-22 18:22] #13 closed

[2017-08-22 18:26] kylefarris commented on #8
@prakashgp I'm very busy with my current workload (job). If you can put a PR in for this, I would forever grateful.

Thanks!

Kyle

[2017-08-22 19:03] kylefarris commented on #13
There was a bug in that patch. Please go to 1.0.3. Sorry.

[2017-08-23 07:15] afzydev commented on #13
@kylefarris

Thanks for your awesomeness :+1:

There is one more problem when I am calling where function it is giving me an error :

[code]

`{"message":"Cannot find module '../../node_modules/mysql/lib/protocol/SqlString.js'","stack":"Error: Cannot find module '../../node_modules/mysql/lib/protocol/SqlString.js'\n at Function.Module._resolveFilename (module.js:440:15)\n at Function.Module._load

[2017-09-09 18:08] agravatfemina commented on #8
@kylefarris  I want to user like() for search/apply filters on query but I can not use MYSQL function with like() as it is not escaping the ` sign and also it is adding   AS in a query..

Here is my sample line of code
   **queryBuilder.like("LOWER(u.vName)",params.filters.name);**

Where as it resulting the OUTPUT in a query  like :

**AND  LOWER(u.vName) AS `LIKE '%femina%'`**

Help me on this !

[2017-09-19 06:27] soravmobi opened #14 "Can we manage transaction using thid node nodule?"
In my project using this module, you module saved my lot of time, but here is a issue, using multiple queries together so there is any way to manage database transactions like commit, roll back ? please let me know as soon as.

[2017-09-20 22:49] kylefarris commented on #14
I'm glad this module has helped you out! Unfortunately, as of right now, this module doesn't support transaction/rollbacks.. I'm totally open to pull requests though! I think it would be a great feature! I'd add it if I had the time but I'm pretty swamped with work right now.

[2017-09-21 04:53] soravmobi commented on #14
Thanks kylefarris for your reply, please let me know once you added transaction/rollbacks features also.

[2017-11-29 13:47] louisl commented on #8
I'm not sure for @prakashgp but my problem was the same as @agravatfemina

Seems to me it's this in query_builder.js:
[code]
It appears to me that bit of code is assuming that if there is an opening bracket or single quote we need an 'AS' so it looks for one and removes it (without checking it exists), then protects the identifiers and puts it back on the end regardless of whether it existed or no

[2017-12-08 01:18] kirrie opened #16 "wrong module path"
node version: v8.7.0
[code]

maybe path should be 'mysql/lib/protocol/SqlString.js' not start with '../../node_modules'.

[2017-12-09 08:49] masterjaso opened #17 "Unable to 'promisify' QueryBuilder"
I've tried using util.promisify as well as just manually building the function below and it seems that promises won't apply properly

`function queryBuilder(options, driver, type){
  return new Promise(function(fulfill, reject){
    qb.QueryBuilder(options, driver, type, function(err, res){
      if(err) reject(err);
      else fulfill(res);
    });
  });
}.`

Is there something I'm missing, or is

[2017-12-20 20:56] dustinmolieri opened #18 "Concurrent Use of Two Pools and Two Databases"
Issue: connection_settings for one pool are lost when setting up another pool

Snippet:
[code]

Effect of this bug:
Cannot use multiple databases in the same JS, such as one for authentication and another for data

[2017-12-21 21:43] kylefarris commented on #18
Interesting. I can take a look next week, after the holidays.

[2018-01-05 08:16] rahulsharma841990 opened #19 "can we create table with query builder?"
Hello, I am working on some framework and wan to create tables dynamically  and i just want to know that is it possible to create table using this query builder?

[2018-01-19 00:41] dustinmolieri commented on #19
Directly from the Documentation, which can be found here:
https://www.npmjs.com/package/node-querybuilder

"There are scenarios when using this method may be required; for instance, if you need to run a very specific type of command on your database that is not typical of a standard, CRUD-type query (ex. user permissions or creating a view)."

![query](https://user-images.githubusercontent.com/285

[2018-01-19 00:42] dustinmolieri commented on #18
BUMP

[2018-01-30 19:46] dustinmolieri commented on #18
Any Update?

[2018-01-31 22:26] kylefarris commented on #18
Sorry Dustin, I simply don't have time at the moment. I'm open to a Pull Request if you're up to the task of find the issue and solving it.

[2018-02-10 02:59] selfclose opened #20 "Cannot insert with leading zero"
i'm use regular insert

[code]
By the way builder cut first zero out
* This record is varchar
* I tried to .toSring() not working

when I check ```sql.last_query()``` it became number type 12345678
How to fix it

[2018-02-20 16:36] kylefarris commented on #20
It does seem that there is some code in the library that will detect an all-numeric string and convert it to an integer. I'll see if I can create a quick patch for that that.

[2018-02-20 16:46] kylefarris commented on #20
Fixed in v1.1.0

[2018-03-28 03:55] selfclose commented on #18
Bump, I need this as well :)

[2018-05-15 11:02] AbhijetPokhrel opened #21 "mysql connection does not end"
I think that the mysql connection is not terminated and eventually gives too many connection error for busy traffic.I solved it for my project by adding conn.end() before callback in query_exec.js.Are there any alternatives?

[2018-05-28 11:36] arifjaunpur opened #23 "update_batch not working with where clause"
whenever we pass `where` condition in [.update_batch(table,dataset,index[,where],callback)](https://www.npmjs.com/package/node-querybuilder#update_batch), it throws following error

[code]

We can see that 2 times added where clause

[2018-05-28 12:14] arifjaunpur commented on #23
after fixing above issue in library, got another issue

[code]

[2018-06-01 20:58] kylefarris commented on #19
@rahulsharma841990 As @dustinmolieri has pointed out, you absolutely can do it by just using the `query` method. If you'd like to write a new driver file to allow for creating/delete/truncating tables and databases, please feel free to do so and submit a PR. I would probably call this file `/drivers/mysql/db_forge.js`.

[2018-06-01 20:58] #19 closed

[2018-06-01 21:00] kylefarris commented on #21
I feel like I've witnessed this from time to time too. If you can figure out a way to write a test for this scenario and to prove your `conn.end()` hypothesis, that would be incredibly helpful!

[2018-06-01 21:04] kylefarris commented on #17
@masterjaso I think this is actually related to the multiple-pool enhancement request #18. Am I correct? Or is it simply that you cannot promisify in any way?

[2018-06-01 21:06] kylefarris commented on #16
This was fixed in version v1.2.0

[2018-06-01 21:06] #16 closed

[2018-06-04 09:02] AbhijetPokhrel commented on #21
Well lets say i just want to select users like below
'''
qb.select('name')
    .get('users', (err,response) => {
      console.log(response);
    }
);

'''

Now when I see the process lists in phpmyadmin i see that its process is live even if the query has succesfully executed
![untitled](https://user-images.githubusercontent.com/34435670/40908117-85d08ca2-6805-11e8-8083-f7fc83899864.jpg)

So lets

[2018-06-04 13:44] vituxre opened #25 "select fields with , fail"
When i use `.select('field1, if(field2=1, true, false) as field3')` this fails with "Cannot read property 'substring' of undefined", if i do the same but defining fields as array `.select(['field1', 'if(field2=1, true, false) as field3'])` then everything works good, would be nice to fix this :)
same happens if select includes `concat(field1, ' ', field2)`

[2018-06-04 14:46] #10 closed

[2018-06-04 14:49] kylefarris commented on #25
@vituxre Could you show me a complete example of a query you're trying to run? Please show the Javascript node-querybuilder code you're doing as well as the expected SQL string it should generate.

[2018-06-04 14:59] vituxre commented on #25
controller:
![screenshot 2018-06-04 15 55 27](https://user-images.githubusercontent.com/2478416/40924762-fd30cb86-680f-11e8-90dd-27d3d248c9cb.png)
helpers/qb:
![screenshot 2018-06-04 15 55 47](https://user-images.githubusercontent.com/2478416/40924763-fd690ef6-680f-11e8-80af-969e03c95ff5.png)
opening url /
![screenshot 2018-06-04 15 56 43](https://user-images.githubusercontent.com/2478416/40924765

[2018-06-05 18:56] kylefarris commented on #25
@vituxre I haven't forgotten--just been busy with work. I'll take a look now.

[2018-06-05 19:15] kylefarris commented on #25
@vixture This is actually, at least to some degree, the expected behavior. It would be out of the scope of this project for it to be able to parse functions or logic like this. In the README it states:

[code]

You should be passing in `false` as the second parameter when providing functions, switch/case, ternaries, etc...

On the other hand, the app should not necessarily be failing _the way that

[2018-06-05 20:52] #25 closed

[2018-06-06 02:29] kylefarris commented on #21
Are you using the connection pool feature or just using single one-off connections for each query?

[2018-06-06 02:41] kylefarris commented on #21
I just realized that I did not document this feature even though it's been there since the beginning...

If you're _not_ using a connection pool, you should be able to do this in your code to close the connection after completing your query:

[code]

If you are _are_ using a connection pool, you would "release" the connection back to the pool (not disconnect):

[code]

I'll address this by adding

[2018-06-06 04:17] AbhijetPokhrel commented on #21
Yes definately. Thankyou for your response

[2018-06-06 07:06] vituxre commented on #25
Thank you, yes that helps :)

[2018-06-06 17:01] kylefarris commented on #21
You're welcome!

[2018-06-06 17:01] #21 closed

[2018-06-11 13:07] vituxre opened #26 "After delete query, select does not work"
![screenshot 2018-06-11 14 04 12](https://user-images.githubusercontent.com/2478416/41233127-5603606e-6d80-11e8-8de3-20bed5285954.png)

db table is empty just has the "column_1" (works the same if table has contents)

response from the first url is normal
![screenshot 2018-06-11 14 05 36](https://user-images.githubusercontent.com/2478416/41233188-8d348568-6d80-11e8-87cd-9bf0ca5ad690.png)

but from

[2018-06-16 12:12] Flamenco opened #27 "Recursion error when using webpack 4"
see https://github.com/webpack/webpack/issues/6026

Webpack has issues when package.json uses  "main": "./".

Workaround without changing node-querybuilder source:

[code]

[2018-06-19 16:08] kylefarris commented on #26
Apparently I didn't have any tests to check for that scenario. I've been using this library for years in production and haven't experienced this issue--it may only happen after a delete. I'm investigating now. Fix should be out soon.

[2018-06-19 20:42] kylefarris commented on #26
This is a particularly peculiar bug. It does seems to only be happening after delete statements and I'm still trying to figure out exactly what's happening to cause it.

[2018-06-20 19:27] kylefarris commented on #26
I think this is going to take some bigger fixing at a fundamental level. I'm working on a new version which is going to sorta re-write the code a little bit. The API should stay basically the same, though. There's definitely some kind of reference errors that I can't track down and it may be due to the way the code is written.

So, expect a patch in version 3.

[2018-06-21 13:23] Flamenco opened #28 "Deleting using 'where object' with array value ignores other properties"
Expected behavior
All properties should use 'AND'

[code]
This query results in
[code]

Workaround: Re-add ignored fields.
[code]
This query results in
[code]

This applies to at least this 'delete use-case', if not more.

[2018-06-22 01:18] Flamenco commented on #28
@kylefarris My example is a pruned down version that isolates the issue.  My actual query had hundreds of items in the array.

[2018-06-22 23:47] kylefarris commented on #28
@Flamenco Oh, I'm sure. Looks like a totally valid issue, I just never thought of that particular case when writing the tests. I'm deep into writing version 2 of the module. The fix for this will be in that release. I'm hoping to have it out in the next few weeks or so. I'm glad you have workaround for now.

Thanks for your bug report and input!

[2018-06-24 14:47] Flamenco opened #29 "Add a parenthesis stack for where"
It would be helpful if we could push and pop where statements.

[code]
[code]

[2018-06-25 15:36] kylefarris commented on #29
Query grouping would be a great feature. We would probably syntactically follow the concept in Codeigniter: https://codeigniter.com/user_guide/database/query_builder.html#query-grouping

I'm focusing on getting some bugs fixed and adding support for MS SQL at the moment, but, we can add this as an enhancement request for a later release of v2.

[2018-06-28 11:17] Flamenco opened #30 "[mysql] like does not escape apostrophe"
The apostrophe is not escaped in this case:
[code]

The produced SQL has invalid syntax
[code]

The documentation states:

[2018-06-28 11:28] Flamenco opened #31 "Return promises from get()"
I wrapped promises around the return of get() and it works quite well.  Not only does it clean up my code, but I can also add a single _finally_ to release the connection after a chain of queries.

Here's an example.

[code]

Could this, or just simply returning a promise from get() if a callback is not provided, be added to the official API?

[2018-06-29 18:34] kylefarris commented on #31
We could potentially "promisify" the library as an option for users. This would probably be a v3 enhancement.

[2018-06-29 18:38] kylefarris commented on #30
Yikes, I'll right a test and get it fixed for v2. Thanks for the bug report.

[2018-07-13 02:10] Flamenco opened #33 "Connection cannot be reused after calling delete."
Here's the error:
[code]

I called `qb.delete('theTable', ...)` and then tried to call `qb.from('theTable').select(...).get(...)`

When I call the select before the delete, it works.

If I use a fresh connection, it also works.

It seems the delete call is not resetting the connection properly, according to the docs
[code]

[2018-07-16 14:44] kylefarris commented on #33
@Flamenco, we already have an issue in about this (#26). It will be addressed in the version I'm working on right now.

[2018-07-20 14:37] Flamenco opened #34 "Allow where_in and where_not_in to have empty arrays"
I have to put many checks in my code for filters because where_in('foo',[]) will throw an error.
Please consider allowing these conditions.

[2018-07-20 14:39] Flamenco commented on #34
<img width="516" alt="screen shot 2018-07-19 at 2 43 19 pm" src="https://user-images.githubusercontent.com/819940/43008435-1b223f2c-8c09-11e8-9b3b-99639817c3e2.png">

[2018-07-23 20:42] kylefarris commented on #18
FWIW, I'm working on getting this to work in v2 which should be released in the early part of August (or earlier). It will come with a few breaking changes (mostly because it requires at least Node version 8.0+).

I'll let you know when the beta is out so you can test it out.

[2018-07-26 14:34] kylefarris commented on #26
This is officially fixed in the v2 branch. Beta should be out soon.

[2018-07-26 14:34] kylefarris commented on #33
This is officially fixed in the v2 branch. Beta should be out soon.

[2018-07-26 14:35] kylefarris commented on #18
This is officially fixed in the v2 branch. Beta should be out soon.

[2018-07-26 14:35] #18 closed

[2018-07-26 14:35] #23 closed

[2018-07-26 14:35] #26 closed

[2018-07-26 14:56] kylefarris commented on #28
This is officially fixed in the v2 branch. Beta should be out soon.

[2018-07-26 14:56] #28 closed

[2018-07-26 18:11] kylefarris commented on #30
This is officially fixed in the v2 branch. Beta should be out soon.

[2018-07-26 18:11] #30 closed

[2018-07-26 18:12] kylefarris commented on #8
This is officially fixed in the v2 branch. Beta should be out soon.

[2018-07-26 18:12] #8 closed

[2018-07-26 18:12] #33 closed

[2018-07-26 18:13] kylefarris commented on #34
Would you rather is just silently ignore it/

[2018-07-26 18:21] Flamenco commented on #34
Yes.  Ignore will be great.  No need to encode in SQL.

[2018-07-26 21:17] kylefarris commented on #34
This is officially fixed in the v2 branch. Beta should be out soon.

[2018-07-26 21:17] #34 closed

[2018-07-27 14:53] kylefarris commented on #34
@Flamenco Thank you for being so active in reporting issues. A v2 Beta is officially out on NPM. If you wouldn't mind testing it, that would be very much appreciated.

You can install the beta like so:

[code]

If you need to submit issues for it, please prefix the issue with **v2Beta:**

Thanks again!

[2018-07-29 17:59] Flamenco opened #35 "Add overload to select(...)"
Select supports these 2 syntax:

[code]
and
[code]

but I constantly find myself doing this:
[code]

Can we also allow the vararg approach?

[2018-07-30 20:38] Flamenco commented on #34
@kylefarris I am not sure how you implemented this, but maybe instead of ignoring, replace where_in('foo', []) with false or (1=0) and where_not_in('foo', []) with true or (1=1).  I am about to switch over to v2 and I have some complex queries that may have issues.

[2018-08-03 02:32] Flamenco opened #36 "[2.0.beta.1] cb is not defined error when insert_batch with empty array"
driver: mysql

[code]

Expected behavior would be to simply invoke the callback. If the server response with 0 affected rows is needed, then to actully call the DB with no rows to insert.

[code]

[2018-08-03 02:45] Flamenco opened #37 "[2.0.0-beta.1] Asterisk is dropped from select statements"
driver: mysql
[code]

expected
[code]

actual

[code]
workaround
[code]

[2018-08-03 14:33] Flamenco opened #39 "Webpack can't find driver module when path includes '//'"
I am bundling this library into a single JS.  The driver is not resolved at runtime.
Notice in the log the path ./drivers/mysql//adapters/pool.js

Here is the error.
[code]
Here's the call.
[code]

suggestions
* Remove the trailing slash from the driver descriptions.
* ${removeTrailingSlash(this.driver_info.path)}/...

Also, the error dumped displays my connection username and password.  That's a

[2018-08-13 14:41] Flamenco opened #41 "[v2] Standardize insert_id"
The docs state this value should be insert_id, but MySql driver returns insertId.

Since this is such a common item to retrieve, I think the drivers should all map to the same field name.

[2018-08-15 13:46] Flamenco opened #42 "[v2] insert_batch should resolve if passed empty array."
Currently an error is thrown if rows to insert is empty.  I would like if this did not throw, and simply resolved.
But if it must, the error should be 'No rows specified to insert' or such.

[code]

[2018-08-25 00:43] kylefarris commented on #35
I could add this option but it won't be for the official v2.0.0 release. I'll add it for v2.1.

[2018-08-25 00:47] kylefarris commented on #36
It's interesting, I actually have a test written, running, and passing that should account for this scenario: https://github.com/kylefarris/node-querybuilder/blob/58f1f714a6391cd67da80c515f5399f1152918d4/test/mysql/tests-insert_batch.js#L51

I'll have to do some research...

[2018-08-25 02:19] kylefarris commented on #36
@Flamenco I found the issue--it didn't really have anything to do with the callback, per se... strange/hard bug to track down.

Problem is that when its fixed, it runs the expected a query: `INSERT INTO [some_table] () VALUES ()`. Seems good, but, then if any columns do not have a default value (the case with my mock_db for testing), you'll get errors anyways.

I could simply return the response o

[2018-08-25 02:25] kylefarris commented on #41
I agree, this should definitely be consistent. I'm looking at the code, though, and it would seem that it already *should* be returning it as `insert_id`. I'll investigate further.

[2018-08-25 02:32] kylefarris commented on #41
It looks like it's returning both `insertId` and `insert_id` which actually makes sense because I'm just merging in the `node-querybuilder` standardized fields (`insert_id`, `affected_rows`, and `changed_rows`) into the normal MySQL driver's response object.

I think this allows for the best of both worlds--maximum flexibility as well a standard API for all drivers.

Are you not getting the `inser

[2018-08-25 02:34] kylefarris commented on #42
This is the same as #36. You can see my comments there.

[2018-08-25 02:34] #42 closed

[2018-08-25 12:59] Flamenco commented on #36
I suggest to return `affected_rows: 0` and also add another property `bypassed:true`.  We can use that property to signal here, and in other instances, that the database was not hit.

[2018-08-25 13:04] Flamenco commented on #41
I did not see that it returned both, so I will double check.  If I can rely on insert_id, affected_rows, and changed_rows to be consistent across DB's then that's GREAT!

[2018-08-28 17:54] gitcloned opened #43 "How to create Nested Or/And clauses?"
How to generate the query clause with nested and/or, example:

[code]

[2018-10-10 07:43] Sphiinx opened #45 "insert_batch on_dupe and callback?"
How would I define an insert_batch with the table, data, on_dupe, and a callback? Each time I try to do this, it doesn't seem it can support all those parameters together in which I get an error that the callback is not a function which I assume is because it expects a callback where the other parameters are.

I'm trying to use an insert_batch, but also want to skip duplicates using the on_dupe.

[2018-10-18 12:20] Flamenco opened #46 "[mysql driver] typeCast setting does not work"
I need to use the mysql driver's typeCast to convert my bit(1) fields to boolean. (see https://www.bennadel.com/blog/3188-casting-bit-fields-to-booleans-using-the-node-js-mysql-driver.htm)

In `adapter.js`, the following line attempts to deep copy the original connection settings by using stringify/parse.
[code]

That approach does not work when a configuration type is function.

Workaround is too

[2018-10-20 12:31] Flamenco opened #49 "calling where_in with an empty array returns all rows"
[code]
This  results in `all rows returned`, instead of `no rows returned`.

[2018-10-22 13:22] #41 closed

[2018-10-25 16:42] Flamenco opened #50 "get(...) should have an optional where parameter"
It would make sense for the `get` method to allow a `where` parameter.  This would match the API of the other methods as well, such as `insert` and `delete`.

[code]
or
[code]

[2018-10-28 05:49] matamune94 opened #51 "why need the line pool.get_connection ?"
can remove pool.get_connection() ?
I want it to have a line number equal to the line number of single connection
can do that ?

[2018-10-29 14:45] kylefarris commented on #51
I'm not sure I follow your question/request @matamune94. Please try to explain more clearly or give an example of what you're trying to accomplish.

[2018-10-29 14:50] kylefarris commented on #43
At the moment, you have to escape a manually-written where clause and tell the `where` method to not try and escape it for you by passing `false` to the third parameter. There's already an Issue in for the request to add this to the actual API (#29). To do it manually, you would do the following:

[code]

[2018-12-19 04:20] darends opened #53 "Long running connection getting dropped without proper handling"
I have an express server, responding to API calls.

Before calling `server.listen()` I initialise the Query Builder, and leave it running in the background

It all works fine until after an arbitrary amount of time passes and I get this

[code]

Note: This occurs when using single or pool (even with `qb.release()`)

On researching how mysqljs/mysql handles its fatal errors,

Query Builder does not

[2019-01-30 22:41] Flamenco opened #54 "Is this project dead?"
Not sure if I should report bugs or issue pull requests...

[2019-02-01 15:45] kylefarris commented on #54
Nope definitely not. Just have no time at the moment.

[2019-02-01 15:50] Flamenco commented on #54
Thanks for your reply.  I have many local changes it is starting to get unmanageable...

[2019-02-01 15:56] kylefarris commented on #50
You can use the `get_where` method to accomplish this.

[2019-02-01 15:56] #50 closed

[2019-02-01 15:58] kylefarris commented on #49
Personally, I think that is the appropriate result for this case. When an invalid or empty list is provided, it should probably be ignored.

[2019-02-01 15:59] #46 closed

[2019-02-01 16:03] Flamenco commented on #49
When one query returns the empty array, it is not appropriate to return all rows in a second query.  This should mirror the behavior of a `select where foo in (select ...)`. or a `join`

I end up having to micro-manage every time I use the result set of queries by checking if they are empty.

Please reconsider.

[2019-02-01 18:11] kylefarris commented on #49
Sorry man, this is a query builder not something that's going to cover every edge case. Really, it should probably throw an error since that's what writing a query like this: `SELECT * FROM foo WHERE id in ()` would do. I chose to take the route of assuming it was a mistake and gracefully ignoring the clause.

If you want it to work like a join or a sub-query, you should probably write it as such.

[2019-05-26 14:06] Sphiinx opened #56 "Using NOW() in custom where?"
I need to select data where ``last_update` >= CONVERT_TZ(now(),'Europe/London','US/Mountain') - INTERVAL 1 MINUTE`

I noticed it says: "You can construct complex WHERE clauses manually and they will be escaped properly as long as there are no parenthesis within it."

Is there a way I select where ``last_update` >= CONVERT_TZ(now(),'Europe/London','US/Mountain') - INTERVAL 1 MINUTE`?

[2019-05-27 11:01] Sphiinx commented on #56
@kylefarris

[2019-06-28 20:59] kylefarris commented on #56
Hey @Sphiinx, off the top of my head, I'm not sure why it would do that but surely it can be solved. I've been really busy trying to meet a deadline on a big project due mid-July so I haven't been able to answer questions for my open-source projects. I'd be more than happy to accept a PR with the solution, though, as long as it includes a test to go along with it!

[2019-06-28 20:59] #54 closed

[2019-11-06 15:26] KHYehor opened #57 "Simple Question"
Hi, @kylefarris
I am sorry, that I write you here, because I haven't found you in facebook/telegram.
As I understood, this npm package aim and purpose is not to be connected to SQL/NOSQL DB, just having CRUD operations and change DB any moment. It is cool idea, I am was interested to do something like this too, but found only `Knex` to abstract from sql DBs, and not something cool for SQL+NoSQL DB

[2019-11-08 21:20] kylefarris commented on #17
Feature officially added as of v2.1.0.

[2019-11-08 21:20] #17 closed

[2019-11-08 21:20] kylefarris commented on #31
Promise features officially added as of v2.1.0.

[2019-11-08 21:20] #31 closed

[2019-11-08 21:25] kylefarris commented on #57
Hi @KHYehor,

Yes, I think you have the idea generally correct. I'm typically very busy working on my full-time job as a software engineer but occasionally I do find time to contribute to this project.

My ideal situation for this project is like you describe: Write code once, have it work on all DBs (SQL and NoSQL alike). Unfortunately I've only found time so far to do MySQL and MSSQL. But, the g

[2019-11-08 23:49] KHYehor commented on #57
Thanks fr your reply, Do you have any times estimates, like finish it during next decade? :D or plans for near future?
Okey, I have wish to take part in something like this.
Did you interested if anyone else doing something like this?

[2019-11-15 17:04] aseprano opened #59 "insert_ignore and dupe"
Using the query builder following the documentation leads to an error: the argument list is not used as in the example (https://www.npmjs.com/package/node-querybuilder#insert_ignoretable-dataon_dupe-callback):

`.insert_ignore(table, data[,on_dupe][, callback])`

Looks like the third parameter is always expected to be the callback, not the on_dupe as above. Using the above signature will lead the

[2019-11-18 18:26] kylefarris commented on #57
I haven't had the luxury of setting date-based milestones yet, but, I'd love to see the new drivers added as quickly as people are willing to contribute them. As I said earlier, I'd love to see the Postgres driver added. This should make it easy to add an Oracle driver as well since their SQL dialects are quite similar.

As for MongoDB, that would be highly fascinating as it would be quite a bit m

[2019-11-18 18:28] kylefarris commented on #59
Thanks for the bug report @aseprano. I'll look into it today if I get a chance.

[2020-05-23 17:29] selfclose opened #60 "like() Numeric bug"
Im using v2.1.1

When using `.like()` and `.or_like()`  on numeric, Quote got removed '%123%' became %123% and error of execution

`ER_PARSE_ERROR: You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '%123% OR `first_name` LIKE %123% OR `last_name` LIKE %123% ORDER BY `id` DESC LI' at line `

[2020-05-26 17:14] kylefarris commented on #60
Interesting... I'd be happy to merge in a PR if you can patch the bug. I'm swamped with a million other things at the moment, unfortunately.

[2020-07-03 00:45] vittoria-ravi opened #61 "How to get is null condition?"
Hi,

Can you please know how to get 'is null' condition in where statement.

Select departmentName, departmentSales
From Department
Where
  employeeLastName is null

[2020-07-03 04:22] vittoria-ravi commented on #61
Got it ...

 .where('employeeLastName IS NULL')

[2020-07-03 04:22] #61 closed, assigned to nobody

[2020-07-27 14:06] cyberrspiritt opened #62 "Error when using case when"
Trying to run this query including case when clause

     this.db.select("ar.id as resolution_id, ar.resolution_no, ar.resolution_heading, ar.resolution_text, ar.resolution_proposer, ar.resolution_seconder, " +
            "case when (art.proxy_vote_allowed=1 and ar.proxy_allowed_to_vote=1) then 1 " +
            "when (art.proxy_vote_allowed=1 and ar.`proxy_allowed_to_vote`=0) then 0 " +

[2020-08-13 07:19] niranjan02 opened #63 "error in batch_update | Cannot read property 'reset_query' of undefined"
I was using batch_update but facing this error. The query I am getting in next_batch is working fine still I am getting this.

**batch_data**
[
  { column1: 'test', coolumn2: '2.0.2444', id: 12 },
  { column1: 'test', coolumn2: '2.0.24444', id: 13 }
]

qb.update_batch(table_name, batch_data, key, where_object, (err, res) => {
	if (err) {
		reject(err);
	}
	resolve(res);
});

[code]

[2020-09-20 22:36] rohit-gh commented on #56
Hi @mswdev @kylefarris ,
I know I'm late here. Just ran into the same situation
Although I was not able to find a substitute for Now()

I found a workaround using [https://momentjs.com/](url) library as mentioned below
[code]

`.format('YYYY-MM-DD HH:mm:ss')}` is important here as this is the format of the timestamp that is being saved in DB and used for querying.

also note I added `.utc()` , ple

[2020-09-27 14:54] rohit-gh commented on #53
@kylefarris
I'm facing this error as well, any updates on this?
can we have a error handler API exposed like :
[code]

[2020-10-10 05:21] t0rton opened #64 "Select {tableName}.* from {tableName} not working"
I'm trying to Select {tableName}.* from {tableName} not working
when I join 2 tables
becase I just wanna return the values from first table
example

`
db.select('p.*').from('products p').join('brand b', 'b.id=p.brand_id')
`

[2022-03-28 10:43] anphamhoai133 commented on #29
I use version 2.1.1 but plugin not support this problem. Pls update new version fix problem

[2022-04-21 11:37] parthutank commented on #60
File Path - node_modules\node-querybuilder\drivers\mysql\query_builder.js

Funcation Name - _qb_escape

[2022-04-21 11:38] parthutank commented on #60
Remove else if condition in _qb_escape function.

File Path - node_modules\node-querybuilder\drivers\mysql\query_builder.js

[2022-04-21 11:39] parthutank commented on #60
Remove else if condition in _qb_escape function.

File Path - node_modules\node-querybuilder\drivers\mysql\query_builder.js

[2022-04-21 11:39] parthutank commented on #60
Remove else if condition in _qb_escape function.

File Path - node_modules\node-querybuilder\drivers\mysql\query_builder.js

[2022-06-29 11:19] jijojayaprakash commented on #63
Inside handler function this object scope is not available. In **node_modules\node-querybuilder\drivers\mysql\query_exec.js** change the lines  as per the below image.
![unknown (3)](https://user-images.githubusercontent.com/31474454/176424842-0e9f5ee3-34b0-4848-b8db-0275cde438ba.png)